app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.pub-cache/
app/.pub/
app/build/
app/.idea/
app/*.iml
app/android/.gradle/
app/android/local.properties
app/android/app/.cxx/
app/android/*.iml
**/*.apk
**/*.aab
.idea/
*.iml
branding/logo-source.png
